server {
    listen                  {{ app_nginx_proxy_listen_port }} deferred;
    listen                  [::]:{{ app_nginx_proxy_listen_port }} deferred;
    server_name             {{ site_site_fqdn }};
    root                    /opt/www/htdocs;

    # Enable Security
    include                 boilerplate/enable/security.conf;

    # Enable PHP
    set $php_value          "sendmail_from=no-reply@{{ site_site_fqdn }}
{% if site_environment_name == "prod" %}
                             opcache.validate_timestamps = Off
                             opcache.revalidate_freq = 0";
{% else %}
                             opcache.validate_timestamps = On
                             opcache.revalidate_freq = 1";
{% endif %}

    include                 boilerplate/upstream/php.conf;

    # Site extras
    include                 /opt/www/conf.d/*.conf;
}
