version: "2"

services:
  webserver-nginx:
    image: "pixelfordinner/nginx"
    container_name: "{{ site_site_name }}-nginx"
    volumes:
      - "./volumes/conf.d:/etc/nginx/conf.d:ro"
      - "./volumes/www:/opt/www/:ro"
    environment:
      - "VIRTUAL_HOST={{ site_site_fqdn }}"
      - "VIRTUAL_PORT={{ app_nginx_proxy_listen_port }}"
      - "VIRTUAL_NETWORK={{ app_nginx_proxy_network_name }}"
      - "LETSENCRYPT_HOST={{ site_site_fqdn }}"
      - "LETSENCRYPT_EMAIL={{ site_letsencrypt_email }}"
      - "WWW=no-www"
    networks:
      - "proxy-tier"

networks:
  proxy-tier:
    external:
      name: "{{ app_nginx_proxy_network_name }}"
