version: "2"

services:
  webserver-nginx:
    image: pixelfordinner/nginx
    container_name: {{ site_site_name }}-nginx
    volumes:
      - ./volumes/conf.d:/etc/nginx/conf.d:ro
      - ./volumes/www:/opt/www/:ro
    environment:
      - VIRTUAL_HOST={{ site_site_fqdn }}
      - WWW=no-www
      - LETSENCRYPT_HOST={{ site_site_fqdn }}
      - LETSENCRYPT_EMAIL={{ site_letsencrypt_email }}
    networks:
      - proxy-tier
      - back-tier
  upstream-php:
    image: pixelfordinner/php
    container_name: {{ site_site_name }}-php
    links:
      - database-mysql:{{ site_mysql_db_alias }}
    volumes:
      - ./volumes/www:/opt/www/
    hostname: {{ site_environment_name }}
    networks:
      - back-tier
      - db-tier
  database-mysql:
    image: mariadb
    mem_limit: 256m
    container_name: {{ site_site_name }}-mysql
    volumes:
      - db-data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD={{ site_mysql_root_password }}
      - MYSQL_DATABASE={{ site_site_name }}
      - MYSQL_USER={{ site_site_name }}
      - MYSQL_PASSWORD={{ site_mysql_password }}
    networks:
      - db-tier

networks:
  proxy-tier:
    external:
      name: {{ app_nginx_proxy_network_name }}
  back-tier:
    driver: bridge
  db-tier:
    driver: bridge

volumes:
  db-data:
    driver: local
